//****************************************************************************
//**                                                                        **
//**   ${1:Company}                                                          **
//**   ${2:Address 1}                                                        **
//**   ${3:Address 2}                                                        **
//**   ${4:Tel}                                                              **
//**   ${5:E-mail}                                                           **
//**                                                                        **
//****************************************************************************
//**                         CHANGES/EVOLUTIONS                             **
//**________________________________________________________________________**
//**   Date   |   Author   | Version |          Description                 **
//**__________|____________|_________|______________________________________**
//** ${CURRENT_DAY}/${CURRENT_MONTH}/${CURRENT_YEAR_SHORT} | ${6:Author}     | ${7:1.0.0} | ${8:Creation}                          **
//****************************************************************************

$0