#include "qpm_utility.h"

const auto exePath = qpm_utility::executable_path();
const auto exeDir = qpm_utility::executable_dir();
${0:std::cout << "Executable directory: " << exeDir.string() << "\n";}
